<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393539396799-gdbc38vcsddotjavrmqh170qt511j8km.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393539396799-gdbc38vcsddotjavrmqh170qt511j8km</string>
	<key>API_KEY</key>
	<string>AIzaSyBpA6zcL4zNXWaFGjtiKZ1eYaIE0_eMM2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>393539396799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafiulhasan.MVVMDemoWithUnitTest</string>
	<key>PROJECT_ID</key>
	<string>mvvmdemowithunittest</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvmdemowithunittest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393539396799:ios:7e5e22d4f61088af33520a</string>
</dict>
</plist>